<form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="border p-2 form-group">
        <legend  class="w-auto">Equipe</legend>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="name" class="control-label">Nome</label>
                <input id="name" type="text" class="form-control is-invalid" formControlName="name" [ngClass]="classError('name')">
                <field-error-display fieldName="name" (validation)="validation=$event"></field-error-display>
            </div> 
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-info btn-lg float-left">Voltar</button>
            <button type="submit" class="btn btn-primary btn-lg float-right">{{ isRegistred ? 'Atualizar' : 'Salvar'}}</button><!--&nbsp;
            <button type="button" class="btn btn-secondary btn-lg">Limpar</button>-->
        </div>        
    </div>        
</form>
