<form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="border p-2 form-group">
        <legend  class="w-auto">Equipe</legend>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="name" class="control-label">Nome</label>
                <input id="name" type="text" class="form-control is-invalid" formControlName="name" [ngClass]="classError('name')">
                <field-error-display fieldName="name" (validation)="validation=$event"></field-error-display>
            </div> 
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-12">
            <span>
                <button type="button" class="btn btn-primary float-left mr-1" (click)="onList()" [tooltip]="getBySearchRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" *ngIf="isRegistred">Listar equipes</button>
            </span>
            <span>
                <button type="button" class="btn btn-info float-left" (click)="onDetails()" [tooltip]="getWithAuditByIdRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" *ngIf="isRegistred" securityItem [roles]="[roles.ROLE_VIEW_STAFF_DETAILS]"><span><i class="fa fa-info-circle"></i>&nbsp;Detalhar</span></button>
            </span>
            <span>
                <button *ngIf="isRegistred; else registerNew" type="submit" class="btn btn-warning btn-lg float-right" [tooltip]="submitTooltip" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_UPDATE_STAFF_DATA]"><span><i class="fa fa-edit"></i>&nbsp;Atualizar</span></button>                    
                <ng-template #registerNew>
                    <button type="submit" class="btn btn-warning btn-lg float-right" [tooltip]="submitTooltip" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_REGISTER_NEW_STAFF]"><span><i class="fa fa-plus"></i>&nbsp;Salvar</span></button>
                </ng-template>                    
            </span>
        </div>        
    </div>        
</form>
