<fieldset class="border p-2 form-group">
    <legend  class="w-auto">Equipe</legend>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="name" class="col-form-label col-form-label-lg">Nome</label>
            <input id="name" type="text" class="form-control-plaintext" [value]="entity.name" readonly>
        </div> 
    </div>
</fieldset>
<auditable [entity]="entity"></auditable>

<div class="form-group row">
    <div class="col-sm-12">
        <span>
            <button type="button" class="btn btn-primary float-left" (click)="onList()" [tooltip]="getBySearchRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay">Listar equipes</button>
        </span>
        <span>
            <button type="button" class="btn btn-secondary float-right" (click)="onEdit()" [tooltip]="getByIdRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_UPDATE_STAFF_DATA]"><span><i class="fa fa-edit"></i>&nbsp;Alterar</span></button>
        </span>
    </div>        
</div>
