<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Férias dos funcionários</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn$ | async; else isLoggedOut"><a class="nav-link" (click)="logout()">Logout</a></li>
      <ng-template #isLoggedOut>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Login</a></li>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isLinkActive('/staffs')" [routerLink]="['/staffs']" [queryParams]="queryParams" *ngIf="isLoggedIn$ | async">Equipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isLinkActive('/employees')" [routerLink]="['/employees']" [queryParams]="queryParams" *ngIf="isLoggedIn$ | async">Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isLinkActive('/vacations')" [routerLink]="['/vacations']" [queryParams]="queryParams" *ngIf="isLoggedIn$ | async">Férias</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="app-alert-message">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" dismissible=true (onClosed)="onClosed(alert)" *ngFor="let alert of alerts" >
      <strong>{{ alert.title }}</strong>&nbsp;{{ alert.message }}
    </alert> 
  </div> 
  <ng-content></ng-content>
</div>
