<fieldset class="border p-2 form-group">
    <legend  class="w-auto">Funcionário</legend>
    <div class="row">
        <div class="col-md-8 mb-3">
            <label for="employeeName" class="col-form-label col-form-label-lg">Nome</label>
            <span>
                <a id="employeeName" class="form-control-plaintext" [routerLink]="['/employees', entity.employee.entityId, 'details']" securityItem [roles]="[roles.ROLE_VIEW_EMPLOYEE_DETAILS]"><span>{{ entity.employee.name }}</span></a>
            </span>
        </div>
        <div class="col-md-4 mb-3">
            <label for="vacationDate" class="col-form-label col-form-label-lg">Data da férias</label>
            <input id="vacationDate" type="text" class="form-control-plaintext" value="{{ entity.startDate | date:'shortDate' }} - {{ entity.endDate | date:'shortDate' }}" readonly>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="staffName" class="col-form-label col-form-label-lg">Equipe</label>
            <span>
                <a id="staffName" class="form-control-plaintext" [routerLink]="['/staffs', entity.employee.staff.entityId, 'details']" securityItem [roles]="[roles.ROLE_VIEW_STAFF_DETAILS]"><span>{{ entity.employee.staff.name }}</span></a>
            </span>
        </div>
        <div class="col-md-6 mb-3">
            <label for="employeeRegistration" class="col-form-label col-form-label-lg">Matricula</label>
            <input id="employeeRegistration" type="text" class="form-control-plaintext" [value]="entity.employee.employeeRegistration" readonly>                   
        </div>            
    </div>
</fieldset>
<fieldset class="border p-2 form-group">
    <legend  class="w-auto">Contato</legend>
    <div class="row">
        <div class="col-md-8 mb-3">
            <label for="email" class="col-form-label col-form-label-lg">E-mail</label>
            <input id="email" type="text" class="form-control-plaintext" [value]="entity.employee.user.email" readonly>                   
        </div>            
        <div class="col-md-4 mb-3">
            <label for="phoneNumber" class="col-form-label col-form-label-lg">Telefone</label>
            <input id="phoneNumber" type="text" class="form-control-plaintext" value="{{ entity.employee.phoneNumber | telefone }}" readonly>     
        </div>
    </div>  
</fieldset>  
<auditable [entity]="entity"></auditable>

<div class="form-group row">
    <div class="col-sm-12">
        <span>
            <back-button [tooltipDelay]="tooltipDelay"></back-button>
        </span>
        <span *ngIf="isShowUpdateLink">
            <button type="button" class="btn btn-secondary float-right" (click)="onEdit()" [tooltip]="getByIdRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_UPDATE_VACATION_DATA]"><span><i class="fa fa-edit"></i>&nbsp;Alterar</span></button>
        </span>
    </div>        
</div>
