<form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="border p-2 form-group">
        <legend  class="w-auto">Funcionário</legend>
        <div class="row">
            <div class="col-md-4 mb-3 avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" [accept]="acceptedImageTypes" (change)="changePhoto($event)"/>
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" #imagePreview></div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="name" class="control-label">Nome</label>
                <input id="name" type="text" class="form-control" formControlName="name" [ngClass]="classError('name')">
                <field-error-display fieldName="name" (validation)="validation=$event"></field-error-display>          
            </div>
            <div class="col-md-2 mb-3">
                <label for="birthDate" class="control-label">Data de nascimento</label>
                <input id="birthDate" type="text" class="form-control" formControlName="birthDate" [ngClass]="classError('birthDate')" 
                    bsDatepicker [bsConfig]="bsConfig">
                <field-error-display fieldName="birthDate" (validation)="validation=$event"></field-error-display>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3" formGroupName="staff">
                <label for="staffName" class="control-label">Equipe</label>
                <ng-select id="staffName" formControlName="id" class="form-control" style="border: none" [ngClass]="classError('staff')"
                    [items]="staffs$ | async" bindLabel="name" bindValue="id" [multiple]="false" [trackByFn]="trackById" [typeahead]="staffName$"
                    [searchable]="!isRegistred" [clearable]="!isRegistred" [hideSelected]="isRegistred" [openOnEnter]="false"
                    notFoundText="Nenhuma equipe foi encontrada" typeToSearchText="Informe o nome da equipe">
                </ng-select>
                <field-error-display fieldName="staff" (validation)="validation=$event"></field-error-display>
            </div>
            <div class="col-md-4 mb-3">
                <label for="employeeRegistration" class="col-form-label">Matricula</label>
                <input id="employeeRegistration" type="text" readonly=true [class.form-control-plaintext]="isRegistred" class="form-control"  formControlName="employeeRegistration" [ngClass]="classError('employeeRegistration')">
                <field-error-display fieldName="employeeRegistration" (validation)="validation=$event"></field-error-display>
            </div>
            <div class="col-md-4 mb-3">
                <label for="hiringDate" class="col-form-label">Data de contratação</label>
                <input id="hiringDate" type="text" [readonly]="isRegistred" [class.form-control-plaintext]="isRegistred" class="form-control" formControlName="hiringDate"
                    bsDatepicker [bsConfig]="bsConfig" [isDisabled]="isRegistred" [ngClass]="classError('hiringDate')">
                <field-error-display fieldName="hiringDate" (validation)="validation=$event"></field-error-display>
            </div>            
        </div>
    </fieldset>
    <fieldset class="border p-2 form-group">
        <legend  class="w-auto">Contato</legend>
        <div class="row">
            <div class="col-md-8 mb-3" formGroupName="user">
                <label for="userEmail" class="control-label">E-mail</label>
                <input id="userEmail" type="text" [readonly]="isRegistred" [class.form-control-plaintext]="isRegistred" class="form-control" formControlName="email" [ngClass]="classError('user.email')">
                <field-error-display fieldName="user.email" (validation)="validation=$event"></field-error-display>
            </div>            
            <div class="col-md-4 mb-3">
                <label for="phoneNumber" class="control-label">Telefone</label>
                <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber" [ngClass]="classError('phoneNumber')"
                    telefone [textMask]="{mask: brazilMasks.telefone.textMaskFunction}">
                <field-error-display fieldName="phoneNumber" (validation)="validation=$event"></field-error-display>         
            </div>
        </div>  
    </fieldset>        
    <fieldset class="border p-2 form-group" formGroupName="address">
        <legend  class="w-auto">Endereço</legend>
        <div class="row">
            <div class="col-md-10 mb-3">
                <label for="addressStreet" class="control-label">Logradouro</label>
                <input id="addressStreet" type="text" class="form-control" formControlName="street" [ngClass]="classError('address.street')">
                <field-error-display fieldName="address.street" (validation)="validation=$event"></field-error-display>          
            </div>
            <div class="col-md-2 mb-3">
                <label for="addressHouseNumber" class="control-label">Numero</label>
                <input id="addressHouseNumber" type="text" class="form-control" formControlName="houseNumber" [ngClass]="classError('address.houseNumber')" numeric="number">
                <field-error-display fieldName="address.houseNumber" (validation)="validation=$event"></field-error-display>          
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="addressNeighborhood">Bairro</label>
                <input id="addressNeighborhood" type="text" class="form-control" formControlName="neighborhood" [ngClass]="classError('address.neighborhood')">
                <field-error-display fieldName="address.neighborhood" (validation)="validation=$event"></field-error-display>
            </div>
            <div class="col-md-4 mb-3">
                <label for="addressCity">Cidade</label>
                <ng-select id="addressCity" formControlName="city" class="form-control" style="border: none" [ngClass]="classError('address.city')"
                    [items]="cities$ | async" bindLabel="name" bindValue="name" [multiple]="false" [trackByFn]="trackById" [typeahead]="cityName$"
                    [openOnEnter]="false" notFoundText="Nenhuma cidade foi encontrada" typeToSearchText="Informe o nome da cidade">
                </ng-select>
                <field-error-display fieldName="address.city" (validation)="validation=$event"></field-error-display>
            </div>
            <div class="col-md-3 mb-3">
                <label for="addressState">Estado</label>
                <ng-select id="addressState" formControlName="state" class="form-control" style="border: none" [ngClass]="classError('address.state')"
                    [items]="states$ | async" bindLabel="name" bindValue="acronym" [multiple]="false" [trackByFn]="trackByAcronym" [typeahead]="stateName$"
                    [openOnEnter]="false" notFoundText="Nenhum estado foi encontrado" typeToSearchText="Informe o nome do estado">
                </ng-select>
                <field-error-display fieldName="address.state" (validation)="validation=$event"></field-error-display>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-info btn-lg float-left">Voltar</button>
            <button type="submit" class="btn btn-primary btn-lg float-right">{{ isRegistred ? 'Atualizar' : 'Salvar'}}</button><!--&nbsp;
            <button type="button" class="btn btn-secondary btn-lg">Limpar</button>-->
        </div>        
    </div>        
</form>