<app-template>
    <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="border p-2 form-group">
            <legend  class="w-auto">Funcionário</legend>
            <div class="row">
                <div class="col-md-8 mb-3">
                    <label for="name" class="control-label">Nome</label>
                    <input id="name" type="text" class="form-control" formControlName="name" [ngClass]="classError('name')">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('name')">
                        Por favor, informe o nome do funcionário.
                    </div>          
                </div>
                <div class="col-md-4 mb-3">
                    <label for="birthDate" class="control-label">Data de nascimento</label>
                    <input id="birthDate" type="text" class="form-control" formControlName="birthDate" [ngClass]="classError('birthDate')" bsDatepicker [bsConfig]="bsConfig">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('birthDate')">
                        Por favor, informe a data de nascimento.
                    </div>          
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3" formGroupName="staff">
                    <label for="staffName" class="control-label">Equipe</label>
                    <input id="staffName" type="text" readonly class="form-control-plaintext form-control-lg" formControlName="name">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="employeeRegistration" class="col-form-label">Matricula</label>
                    <input id="employeeRegistration" type="text" readonly class="form-control-plaintext form-control-lg"  formControlName="employeeRegistration">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="hiringDate" class="col-form-label">Data de contratação</label>
                    <input id="hiringDate" type="text" readonly class="form-control-plaintext form-control-lg"  formControlName="hiringDate">
                </div>            
            </div>
        </fieldset>
        <fieldset class="border p-2 form-group">
            <legend  class="w-auto">Contato</legend>
            <div class="row">
                <div class="col-md-8 mb-3" formGroupName="user">
                    <label for="userEmail" class="control-label">E-mail</label>
                    <input id="userEmail" type="text" readonly class="form-control-plaintext" formControlName="email">
                </div>            
                <div class="col-md-4 mb-3">
                    <label for="phoneNumber" class="control-label">Telefone</label>
                    <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber" [ngClass]="classError('phoneNumber')"
                        telefone [textMask]="{mask: brazilMasks.telefone.textMaskFunction}">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('phoneNumber')">
                        Por favor, informe o telefone.
                    </div>          
                </div>
            </div>  
        </fieldset>        
        <fieldset class="border p-2 form-group" formGroupName="address">
            <legend  class="w-auto">Endereço</legend>
            <div class="row">
                <div class="col-md-10 mb-3">
                    <label for="addressStreet" class="control-label">Rua</label>
                    <input id="addressStreet" type="text" class="form-control" formControlName="street" [ngClass]="classError('address.street')">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('address.street')">
                        Por favor, informe a rua.
                    </div>          
                </div>
                <div class="col-md-2 mb-3">
                    <label for="addressHouseNumber" class="control-label">Numero</label>
                    <input id="addressHouseNumber" type="text" class="form-control" formControlName="houseNumber" [ngClass]="classError('address.houseNumber')">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('address.houseNumber')">
                        Por favor, informe o número da residência.
                    </div>          
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="addressNeighborhood">Bairro</label>
                    <input id="addressNeighborhood" type="text" class="form-control" formControlName="neighborhood" [ngClass]="classError('address.neighborhood')">
                    <div class="invalid-feedback" *ngIf="hasRequiredError('address.neighborhood')">
                        Por favor, informe o bairro.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="addressCity">Cidade</label>
                    <select id="addressCity" class="form-control" formControlName="city" [ngClass]="classError('address.city')">
                        <option *ngFor="let city of cities$ | async" [value]="city.name">{{ city.name }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="hasRequiredError('address.city')">
                        Por favor, informe a cidade.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="addressState">Estado</label>
                    <select id="addressState" class="form-control" formControlName="state" [ngClass]="classError('address.state')">
                        <option *ngFor="let state of states$ | async" [value]="state.acronym">{{ state.name }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="hasRequiredError('address.state')">
                        Por favor, informe o estado.
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-info btn-lg">Voltar</button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Atualizar</button><!--&nbsp;
                <button type="button" class="btn btn-secondary btn-lg">Limpar</button>-->
            </div>        
        </div>        
    </form>
</app-template>
