<fieldset class="border p-2 form-group">
    <legend  class="w-auto">Auditoria</legend>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="createdBy" class="col-form-label col-form-label-lg">Criado por</label>
            <input id="createdBy" type="text" class="form-control-plaintext" [value]="entity.createdBy.email" readonly>
        </div>            
        <div class="col-md-6 mb-3">
            <label for="createdDate" class="col-form-label col-form-label-lg">Data do cadastro</label>
            <input id="createdDate" type="text" class="form-control-plaintext" value="{{ entity.createdDate | date:'short' }}" readonly>       
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="lastModifiedBy" class="col-form-label col-form-label-lg">Atualizado por</label>
            <input id="lastModifiedBy" type="text" class="form-control-plaintext" [value]="entity.lastModifiedBy.email" readonly>
        </div>            
        <div class="col-md-6 mb-3">
            <label for="lastModifiedDate" class="col-form-label col-form-label-lg">Ultima atualização</label>
            <input id="lastModifiedDate" type="text" class="form-control-plaintext" value="{{ entity.lastModifiedDate | date:'short' }}" readonly>       
        </div>
    </div>  
</fieldset>
