<form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset class="border p-2 form-group">
            <legend  class="w-auto">Funcionário</legend>
            <div class="row">
                <div class="col-md-8 mb-3" formGroupName="employee">
                    <label for="employeeName" class="control-label">Nome</label>
                    <ng-select id="employeeName" formControlName="entityId" class="form-control" style="border: none" [ngClass]="classError('employee')"
                        [items]="employees$ | async" bindLabel="name" bindValue="entityId" [multiple]="false" [trackByFn]="trackById" [typeahead]="employeeName$"
                        [searchable]="!isRegistred" [clearable]="!isRegistred" [hideSelected]="isRegistred" [openOnEnter]="false"
                        notFoundText="Nenhum funcionário foi encontrado" typeToSearchText="Informe o nome do funcionário">
                    </ng-select>
                    <field-error-display fieldName="employee" (validation)="validation=$event"></field-error-display>  
                </div>
                <div class="col-md-4 mb-3">
                    <label for="vacationDate" class="control-label">Data da férias</label>
                    <input id="vacationDate" type="text" class="form-control" formControlName="vacationDate" [ngClass]="classError(['startDate','endDate'])" 
                        bsDaterangepicker [bsConfig]="bsDaterangeConfig">
                    <field-error-display [fieldName]="['startDate','endDate']" (validation)="validation=$event"></field-error-display>
                </div>
            </div>
            <div class="row" formGroupName="employee">
                <div class="col-md-6 mb-3" formGroupName="staff">
                    <label for="staffName" class="control-label">Equipe</label>
                    <input id="staffName" type="text" readonly=true class="form-control form-control-plaintext" formControlName="name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="employeeRegistration" class="control-label">Matricula</label>
                    <input id="employeeRegistration" type="text" readonly=true class="form-control form-control-plaintext"  formControlName="employeeRegistration">                    
                </div>            
            </div>
        </fieldset>
        <fieldset class="border p-2 form-group">
            <legend  class="w-auto">Contato</legend>
            <div class="row" formGroupName="employee">
                <div class="col-md-8 mb-3" formGroupName="user">
                    <label for="email" class="control-label">E-mail</label>
                    <input id="email" type="text" readonly=true class="form-control form-control-plaintext" formControlName="email">                    
                </div>            
                <div class="col-md-4 mb-3">
                    <label for="phoneNumber" class="control-label">Telefone</label>
                    <input id="phoneNumber" type="text" readonly=true class="form-control form-control-plaintext" formControlName="phoneNumber"
                        telefone [textMask]="{mask: brazilMasks.telefone.textMaskFunction}">      
                </div>
            </div>  
        </fieldset>  
        <div class="form-group row">
            <div class="col-sm-12">
                <span>
                    <button type="button" class="btn btn-primary float-left mr-1" (click)="onList()" [tooltip]="getBySearchRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" *ngIf="isRegistred">Listar férias</button>
                </span>
                <span>
                    <button type="button" class="btn btn-info float-left" (click)="onDetails()" [tooltip]="getWithAuditByIdRel.title" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" *ngIf="isRegistred" securityItem [roles]="[roles.ROLE_VIEW_VACATION_DETAILS]"><span><i class="fa fa-info-circle"></i>&nbsp;Detalhar</span></button>
                </span>
                <span>
                    <button *ngIf="isRegistred; else registerNew" type="submit" class="btn btn-warning btn-lg float-right" [tooltip]="submitTooltip" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_UPDATE_VACATION_DATA]"><span><i class="fa fa-edit"></i>&nbsp;Atualizar</span></button>                    
                    <ng-template #registerNew>
                        <button type="submit" class="btn btn-warning btn-lg float-right" [tooltip]="submitTooltip" placement="top" [adaptivePosition]="false" [delay]="tooltipDelay" securityItem [roles]="[roles.ROLE_REGISTER_NEW_VACATION]"><span><i class="fa fa-plus"></i>&nbsp;Salvar</span></button>
                    </ng-template>                    
                </span>
            </div>        
        </div>        
    </form>