<div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Por favor, faça o login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form class="form-signin needs-validation" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">            
            <div class="input-group form-group">
              <label for="email" class="sr-only">E-mail</label>
              <input formControlName="email" [ngClass]="{'is-invalid': submitted && form.get('email').errors}" type="email" id="email" class="form-control" placeholder="E-mail" autofocus>
              <div class="invalid-feedback" *ngIf="form.get('email').errors && form.get('email').errors['required']" >
                  Por favor, informe um e-mail.
              </div>             
            </div>
            <div class="input-group form-group">
              <label for="password" class="sr-only">Senha</label>
              <input formControlName="password" [ngClass]="{'is-invalid': submitted && form.get('password').errors}" type="password" id="password" class="form-control" placeholder="Senha">
              <div class="invalid-feedback" *ngIf="form.get('password').errors && form.get('password').errors['required']" >
                  Por favor, informe uma senha.
              </div>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input formControlName="rememberMe" type="checkbox" value="remember-me"> Lembre-me
              </label>
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?&nbsp;<a href="#">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
      </div>
  </div>
  
